*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.ap_
*.class
gen/
keystore.properties
proguard/
*.log
.navigation/
**/.idea/workspace.xml
**/.idea/libraries/
**/.idea
*/*.iml
captures/
